.home {
    background-position: top center;
    height: 740px;
    min-height: 400px;
    width: 100%;
    background: #161415 url(./images/hire.svg) no-repeat top center;
    background-size: contain !important;
     -webkit-background-size: cover !important;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    text-align: center;
    overflow: hidden;
 }
 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color:white;
  font-family:  'Source Sans Pro', sans-serif;
  height: 90vmin;
  left: 30%;
  position: absolute;
  font-weight: bold;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 50%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid white;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}


/*
=====
Join our team
=====
*/

@import url('https://fonts.googleapis.com/css?family=Amaranth:700,400&display=swap');

/* The component will reset browser's styles of link */

.r-link{
	--uirLinkDisplay: var(--rLinkDisplay, inline-block);
	--uirLinkTextColor: var(--rLinkTextColor);
	--uirLinkTextDecoration: var(--rLinkTextDecoration, none);

	display: var(--uirLinkDisplay) !important;
	color: var(--uirLinkTextColor) !important;
	text-decoration: var(--uirLinkTextDecoration) !important;
}

/* The component will reset browser's styles of titles */

.r-title{
	--uirTitleMarginTop: var(--rTitleMarginTop, 0);
	--uirTitleMarginBottom: var(--rTitleMarginBottom, 0);

	margin-top: var(--uirTitleMarginTop) !important;
	margin-bottom: var(--uirTitleMarginBottom) !important;
}

/*
=====
CORE STYLES
=====
*/

.animated-underline{
	--uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
	--uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 2px);
	--uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
	--uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, 0);
	--uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);

	/*
		1. For multi-line animated underline the "inline" value for the display property is compulsory.
		2. Adds opportunity to create multi-line padding
	*/

	--rLinkDisplay: inline; /* 1 */

	background-image: linear-gradient(0, var(--uiAnimatedUnderlineBgColor) 0, var(--uiAnimatedUnderlineBgColor));
	background-size: var(--uiAnimatedUnderlineWidth) var(--uiAnimatedUnderlineHeight);
	background-position: var(--uiAnimatedUnderlinePositionX) var(--uiAnimatedUnderlinePositionY);
	background-repeat: no-repeat;
	
	-webkit-box-decoration-break: clone; /* 2 */
	box-decoration-break: clone; /* 2 */
	
	will-change: background-size;
	transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
=====
SETTINGS
=====
*/

:root{
	--animatedUnderlineHeight: 1rem;
	--animatedUnderlineBgColor: var(--accentColor);
}	

.animated-underline_type1{
	--animatedUnderlineWidth: 100%;
}

.animated-underline_type1:hover{
	--animatedUnderlineHeight: 100%;
}

.animated-underline_type2{
	--animatedUnderlineWidth: 100%;
}

.animated-underline_type2:hover{
	--animatedUnderlineWidth: 0;
}

.animated-underline_type3{
	--animatedUnderlineHeight: 0;
}

.animated-underline_type3:hover{
	--animatedUnderlineHeight: 100%;
}

.animated-underline_type4{
	--animatedUnderlineWidth: 0;
}

.animated-underline_type4:hover{
	--animatedUnderlineWidth: 100%;
}

.animated-underline_type5{
	--animatedUnderlineWidth: 100%;
	--animatedUnderlineHeight: 5px;
	--animatedUnderlinePositionY: 90%;
}

.animated-underline_type5:hover{
	--animatedUnderlineHeight: 1rem;
}

/*
=====
DEMO
=====
*/

:root{
	--mainColor: #673AB7;
	--accentColor: #ff7eb2;
	--accentColorDark: #f15493;
	--blackColor: white;
	--whiteColor: #fff;
	--rLinkTextColor: var(--blackColor);
}	



.page{
	max-width: 1500px;
	margin-left: auto;
}

.page__name-effect{
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: .875rem;
}

.page__name-effect::before{
	content: "";
	width: 3.75rem;
	height: 2px;
	background-color: var(--mainColor);
	margin-top: .25rem;
	margin-right: .625rem;
}

.page__section:nth-child(n+2){
	margin-top: 5rem;
}

.page__group{
	margin-top: 1rem;
}

.news{
	position: relative;

	padding: 70px 6%;
	border-top: 6px solid var(--mainColor);
	border-radius: 4px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
	background-color: var(--whiteColor);
}

.news:nth-child(n+2){
	margin-top: 3rem;
}

.news__date{
	font-size: 0.9375rem;
	font-weight: 700;
}

.news__title{
	font-family: 'Amaranth', sans-serif;
	line-height: 1.25;
}

.news__link::after{
	content: "";
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

.news__content{
	margin-top: 1.875rem;
}

p{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.78;
}

	.page{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.page__name-effect{
		padding-left: .625rem;
		padding-right: .625rem;
	}

	.news__title{
		--rTitleMarginTop: .75rem;
		font-size: 1.75rem;
	}



	.news__header{
		display: flex;
		align-items: flex-start;

		padding-left: 1.5rem;
		padding-right: 2.5rem;
	}

	.news__date{
		flex-shrink: 0;
		font-family: 'Amaranth', sans-serif;

		margin-right: 40px;
		text-align: center;
	}

	.news__day{
		line-height: 1;
		display: block;
		font-size: 4.333rem;
		color: var(--accentColorDark);
	}

	.news__year{
		display: block;
		font-size: 1rem;
		margin-top: 5px;
	}

	.news__title{
		font-size: 2.7rem;
	}	


  @import url("https://fonts.googleapis.com/css2?family=Bungee&family=Codystar:wght@300;400&family=Darker+Grotesque:wght@500&display=swap");


:root {
  --light_col: #00cccc;
  --letter_border: #4bc7cf;
  --flick_color: #a0e6ff;
}

.pa {
  background: #363535;
}

#main {
  width: 80vw;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

#clock span {
  background-color: #2b2b2b;
  font-family: "Bungee", cursive;
  float: left;
  text-align: center;
  font-size: 4vw;
  margin: 0 2.5%;
  color: #fdf5e6;
  padding: 15px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0.75rem 0.5rem -0.5rem hsl(0, 10%, 10%);
}

#clock::after {
  content: "";
  display: block;
  clear: both;
}

#display span {
  
  text-align: center;
  font-family: "Bungee", cursive;
  height: 2vw;
  margin-top: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

#display span:nth-child(1) {
  position: absolute;
  left: 16%;
  margin-top: -0.1%;
}

#display span:nth-child(2) {
  position: absolute;
  left: 35%;
  margin-top: -0.1%;
}

#display span:nth-child(3) {
  position: absolute;
  left: 55%;
  margin-top: -0.1%;
}

#display span:nth-child(4) {
  position: absolute;
  left: 75%;
  margin-top: -0.1%;
}

span.flip {
  animation: flip 0.7s ease forwards;
}


/*       Just setting CSS for the page   */


.position {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15%;
}

#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:white !important;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
  color: white;
}

#text a {
  color: white  !important;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

.btn-blue {
  --bg: hsl(220 90% 50%);
  --bg-int: hsl(220 90% 58%);
  width:60%;
  color: hsl(0 0% 96%);
  background: var(--bg);
  font-size: 20px;
  margin-left: 330px;
  margin-top: 50px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 14px 28px;
  border: 1;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
  transition: .15s ease-in-out;
  box-shadow: 0 4px 6px -1px hsl(0 0% 0% / .07), 0 2px 4px -1px hsl(0 0% 0% / .07);
}
.btn-blue1 {
  --bg: hsl(220 90% 50%);
  --bg-int: hsl(220 90% 58%);
  width:100%;
  color: hsl(0 0% 96%);
  background: var(--bg);
  font-size: 20px;
  margin-left: 30px;
  font-family: inherit;
  box-sizing: border-box;
  padding: 14px 28px;
  border: 1;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  outline: none !important;
  transition: .15s ease-in-out;
  box-shadow: 0 4px 6px -1px hsl(0 0% 0% / .07), 0 2px 4px -1px hsl(0 0% 0% / .07);
}

button:hover,
button:focus {
  background: var(--bg-int);
}

button:active {
  transform: scale(.96);
}

